.navber {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid var(--color-violet);

    /* position: sticky; */
    z-index: 12;
    background-color: white;
    top: 0;
}

.navber-logo img {
    width: 55px;
    cursor: pointer;
}

.navber-links {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.navber-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--color-violet);
    font-weight: 550;
    font-size: 14px;
}

.navber-links ul li {
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navber-links .link {
    text-decoration: none;
    color: inherit;
}

.navber-links ul li.active {
    color: blueviolet
}

.navber-links ul li:hover {
    color: var(--color-orange);
}

.navber-links ul li.active:hover {
    color: var(--color-green);
}

.navber-links ul .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -5px;
}

.navber-links ul .dropdown-icon {
    font-size: 30px;
}

.navber .card_container {
    margin-top: 18px;
    padding: 50px 140px;
    z-index: 3;
    background-color: rgba(193, 179, 200, 0.6);
}

.navber .card-containers {
    height: auto;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: transparent;
    padding-top: 20px;
}

.navber .navber-menu {
    background-color: var(--color-violet);
    color: white;
    padding: 5px 10px;
    font-size: 30px;
    display: none;
    align-items: center;
    justify-content: center;
}

.side-menu {
    display: none;
}

/* -------------- For Mobile device------------- */

@media (max-width: 600px) {
    .navber {
        height: 12vh;
        padding: 30px 40px !important;
    }

    .navber-logo img {
        width: 40px;
        position: relative;
    }

    .navber .navber-menu {
        border-radius: 4px;
        display: flex;
    }

    .navber-links {
        display: none;
    }

    .side-menu {
        position: absolute;
        display: block;
        height: 100vh;
        width: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.3);
        animation: anime 0.5s;
    }

    @keyframes anime {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }

    @keyframes anime2 {
        0% {
            width: 0%;
        }

        25% {
            width: 0%;
        }

        100% {
            width: 75%;
        }
    }

    .side-menu-2 {
        position: absolute;
        color: var(--color-violet);
        font-weight: 700;
        height: 100vh;
        width: 75%;
        top: 0px;
        left: 0px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 10px 20px;
        animation: anime2 1s;
    }

    .side-menu-2 ul li {
        list-style: none;
        padding: 7px 0px;
        transition: all 0.3s ease;
    }

    .side-menu-2 ul li:hover {
        color: var(--color-orange);
        cursor: pointer;
    }

    .side-menu ul li.active {
        color: var(--color-green);
    }

    .side-menu ul li.active:hover {
        color: var(--color-green);
    }

    .side-menu-2 .side-menu-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

    }

    .side-menu-2 .side-menu-top img {
        width: 20%;
    }

    .side-menu-top-menu {
        background-color: var(--color-violet);
        color: white;
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        transition: all 0.3s ease;
    }

    .side-menu-top-menu:hover {
        background-color: var(--color-orange);
    }

    .ss {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sso {
        border: 2px solid var(--color-violet);
        width: 15%;
        height: 10%;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vetore ul {
        font-weight: 400;
        padding: 10px 20px 10px 0;
    }

    .vetore ul li {
        padding: 10px 5px;
        border: 1px solid var(--color-green);
        margin-bottom: 5px;
    }

    .vetore ul li:hover {
        border-color: var(--color-orange);
    }

}